.castList{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.castListItem{
    width:100px ;
    text-align: center;
    margin: 5px;
    border: 1px solid gray;
}
.castPosterImg{
margin: 5px auto;
}