.navList{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    font-weight: 800;
    font-size: 20px;
}
.navListItem{
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.navListItemActive {
    /* composes: navListItem; */
    color: red;
  }